*,
*::before,
*::after {
  box-sizing: border-box;
}

  section {
    padding-block: 7rem;
  }
  
  .diagonal {
    --skew-angle: -3.5deg;
    --background: linear-gradient(
                    45deg, 
                    #050505, 
                    #0f0f16, 
                    #080e30
                  );
    position: relative;
    isolation: isolate;
  }
  
  .diagonal::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
    width: 100%;
    outline: 2px solid #FFF;
  }